.root {
    -fx-background-color: rgba(220, 220, 220, 0.5);
    -fx-background-radius: 10;
}

#menu_strip {
    -fx-arc-width: 14;
    -fx-arc-height: 14;
}

#menu_strip_cover_util {
    -fx-opacity: 0.8;
}

#minBtn {
    -fx-fill: WHITE;
}

#maxBtn {
    -fx-fill: WHITE;
}

#closeBtn {
    -fx-fill: WHITE;
}

#menu_strip_recentBtn1 {
    -fx-fill: WHITE;
}
#menu_strip_recentBtn2 {
    -fx-fill: WHITE;
}
#menu_strip_recentBtn3 {
    -fx-fill: WHITE;
}

#menu_strip_bookmarks {
    -fx-shape: "M 300 200 L 400 200 L 400 300 L 350 250 L 300 300 L 300 200";
    -fx-background-color: rgba(250,250,250,0.5);
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, WHITE, 10, 0.0, 0.4, 0.4);
}

#menu_strip_item_circles {
    -fx-focus-traversable: true;
}

#menu_strip_effect_circle {
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, WHITE, 10, 0.0, 0.0, 0.0);
}
