.root {
    -fx-background-color: rgba(220, 220, 220, 0.5);
    -fx-background-radius: 10;
}

#menu_strip {
    -fx-arc-width: 14;
    -fx-arc-height: 14;
}

#menu_strip_cover_util {
    -fx-opacity: 0.8;
}

#minBtn {
    -fx-fill: WHITE;
}

#maxBtn {
    -fx-fill: WHITE;
}

#closeBtn {
    -fx-fill: WHITE;
}

#menu_strip_recentBtn1 {
    -fx-fill: WHITE;
}
#menu_strip_recentBtn2 {
    -fx-fill: WHITE;
}
#menu_strip_recentBtn3 {
    -fx-fill: WHITE;
}

#menu_strip_bookmarks {
    -fx-shape: "M 300 200 L 400 200 L 400 300 L 350 250 L 300 300 L 300 200";
    -fx-background-color: rgba(250,250,250,0.5);
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, WHITE, 10, 0.0, 0.4, 0.4);
}

#menu_strip_add_page {
    -fx-focus-traversable: true;
}

#menu_strip_add_page_effect_circle {
    -fx-focus-traversable: true;
    -fx-effect: dropshadow(gaussian, WHITE, 10, 0.0, 0.0, 0.0);
}

#menu_strip_settings {
    -fx-shape: "M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z";
}